/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: rgb(247 249 251);
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #12263f;
    text-align: left;
}

.h1,
h1 {
    font-size: 1.625rem
}

.h2,
h2 {
    font-size: 1.25rem
}

.h3,
h3 {
    font-size: 1.0625rem
}

.h4,
h4 {
    font-size: .9375rem
}

.h5,
h5 {
    font-size: .8125rem
}

.h6,
h6 {
    font-size: .625rem
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: white;
    color: #6c757d;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    color: #007bff;
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    display: none;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: white;
}

#sidebar ul.components {
    padding: 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: black;
    padding: 10px;
    border: #6f85a4;
    border-style: solid;
    border-left: 0;
    border-right: 0;
    border-width: 1px;
}

#sidebar ul p span {
    font-size: small;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: black;
    background: white;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: black;
    background: white;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: white;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: rgb(247 249 251);
    color: #007bff;
}

a.article,
a.article:hover {
    background: #007bff;
    color: white;
}

a.article:hover {
    background: #007bff;
    color: white;
    border-color: #007bff;
    border-style: solid;
    border-width: 2px;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

.header-title {
    margin: 0;
    font-size: medium;
}

.header-pretitle {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: .08em;
    color: #95aac9;
}

span.badge.badge-soft-success.mt-n1 {
    background-color: #60cc1d;
    color: #212529;
}

.card {
    margin-bottom: 1.5rem;
    border-color: #edf2f9;
    box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, .03);
}

.chart-container {
    position: relative;
    margin: auto;
    height: 400px;
    width: 100%;
}

.blue {
    color: #007bff;
}

.thead-blue {
    background-color: #007bff;
    color: white;
}

.table-primary {
    font-weight: bold;
}

.card-border-primary {
    border-color: #007bff;
    border-width: 1px;
    border-style: solid;
}

.gray {
    color: #6c757d;
}

.breadcrumb-item {
    color: #007bff;
}

.breadcrumb-item.active {
    color: #6c757d;
}

ul>li>a>svg.bi {
    margin-right: 1em;
}

.list-title,
.list-title:hover {
    background-color: #6c757d !important;
    color: white !important;
}